{% extends "layout.html" %}

{% block body %}
        <div class = "container">
            <div class = "row">
        {% for car in garage %}
            <div class="col-md-4 col-sm-6 col-12 mb-3">
                <div class="card p-3">
                    <img src="static/format/hotwheels.png" class="hotwheels" />
                    <h5>{{ car.make  }}</h5>
                    <image height = fill src="{{ file_location }}/{{ car.image }}" class="card_img-top"/>
                    <span>{{ car.car_year }} &nbsp; {{ car.model }} &nbsp; {{ car.series }}</span>
                    <img src="static/format/mattel.png" class="mattel" />
                </div>
            </div>
        {% endfor %}
            </div>
        </div>
{% endblock %}
